.footer-view {
    font-family: dejavu sans mono, monospace;
    font-size: 12px;
    color: wheat;
    width: 100%;
    background-color: black;
    text-align: center;

    &--author {


    }

    &--mail {
        display: block;
    }
}