.panel {
  border-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &--item {
    position: relative;
    display: inline-block;
  }

  &--button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: rgba(255, 255, 255, 0.87);
    z-index: 20;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    transition: .2s linear;
    transition-property: transform, box-shadow;
    margin-right: 15px;
    margin-top: -28px;
    margin-bottom: -28px;
    line-height: 44px;
    position: relative;
    display: inline-block;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: 0;
    outline: 0;
    float: right !important;
    background-color: #3f51b5;
  }

  &--image {
    width: 100%;
    border-radius: 2px 2px 0 0;
    vertical-align: middle;
    border: 0;
  }

}
